<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="33007">
        <setting type="sep"/>
            <setting label="32007" type="select" id="language" values="cs|da|de|el|en|es|fi|fr|he|hr|hu|it|ja|ko|nl|no|pl|pt|ru|sl|sv|tr|zh" sort="yes" default="he" />        
        <setting type="sep"/>
            <setting label="32008" type="action"  action="RunScript(service.subtitles.superSubtitleEngine, 1, action=checkLogins)" />
    </category>
    <category label="33000">
        <setting     label="32001" id="anonymousSearch"      type="bool" default="false" enable="!eq(7,true) + !eq(11,true)" />
            <setting label="33006" id="torecUrlanon"         type="bool" default="false" enable="!eq(-1,false)" visible="!eq(-1,false)"/>
            <setting label="33009" id="bsplayerUrlanon"      type="bool" default="false" enable="!eq(-2,false)" visible="!eq(-2,false)"/>
            <setting label="33012" id="subcenterUrlanon"     type="bool" default="false" enable="!eq(-3,false)" visible="!eq(-3,false)"/>
            <setting label="33016" id="opensubtitlesUrlanon" type="bool" default="false" enable="!eq(-4,false)" visible="!eq(-4,false)"/>
            <setting label="33019" id="ktuvitUrlanon"        type="bool" default="false" enable="!eq(-5,false)" visible="!eq(-5,false)"/> 
        <setting type="sep" />          
            <setting     label="32002" id="globalSearch"   type="bool" default="false" enable=" !eq(4,true) + !eq(-7,true)" />
                <setting label="33003" id="globalUsername" type="text" default=""      visible="eq(-1,true)" />
                <setting label="33004" id="globalPassword" type="text" default=""      visible="eq(-2,true)" option="hidden"/>  
        
        <setting type="sep" />  
            <setting         label="33005" id="specificSiteSearch"   type="bool" default="false" enable="!eq(-4,true) + !eq(-11,true)" />       
                <setting     label="33006" id="torecUrl"             type="bool" default="false" visible="!eq(-1,false)" enable="!eq(-1,false)" /> 
                    <setting label="33003" id="torecUrlUser"         type="text" default=""      visible="!eq(-1,false)+!eq(-2,false)+!eq(-5,false)"   />
                    <setting label="33004" id="torecUrlPass"         type="text" default=""      visible="!eq(-2,false)+!eq(-3,false)+!eq(-6,false)"    option="hidden" />           
                <setting     label="33009" id="bsplayerUrl"          type="bool" default="false" visible="!eq(-4,false)" enable="!eq(-4,false)" />
                    <setting label="33003" id="bsplayerUrlUser"      type="text" default=""      visible="!eq(-1,false)+!eq(-5,false)"  />
                    <setting label="33004" id="bsplayerUrlPass"      type="text" default=""      visible="!eq(-2,false)+!eq(-6,false)"  option="hidden"/>            
                <setting     label="33012" id="subcenterUrl"         type="bool" default="false" visible="!eq(-7,false)" enable="!eq(-7,false)"/>
                    <setting label="33003" id="subcenterUrlUser"     type="text" default=""      visible="!eq(-1,false)+!eq(-8,false)"  />
                    <setting label="33004" id="subcenterUrlPass"     type="text" default=""      visible="!eq(-2,false)+!eq(-9,false)"  option="hidden"/>            
                <setting     label="33016" id="opensubtitlesUrl"     type="bool" default="false" visible="!eq(-10,false)" enable="!eq(-10,false)"/>
                    <setting label="33003" id="opensubtitlesUrlUser" type="text" default=""      visible="!eq(-1,false)+!eq(-11,false)"  />
                    <setting label="33004" id="opensubtitlesUrlPass" type="text" default=""      visible="!eq(-2,false)+!eq(-12,false)"  option="hidden" />            
                <setting     label="33019" id="ktuvitUrl"            type="bool" default="false" visible="!eq(-13,false)" enable="!eq(-13,false)"/>
                    <setting label="33003" id="ktuvitUrlUser"        type="text" default=""      visible="!eq(-1,false)+!eq(-14,false)"  />
                    <setting label="33004" id="ktuvitUrlPass"        type="text" default=""      visible="!eq(-2,false)+!eq(-15,false)"  option="hidden" />         
        
    </category>
    
    <category label="35001">
        <setting label="35002" id="debug" type="bool"  default="false"/>
        <setting label="35003" type="lsep" />
        <setting label="35004" id="error_notify" type="bool" default="false"/>
        <setting label="35005" id="mute_notifications" type="bool" default="true"/>
    </category> 
    
</settings>
